p {
  font-family: sans-serif;
}
body{
  background: -webkit-linear-gradient(-45deg, #35577D, #141E30);
}
head{
  background: white;
}
title{
  color: white;
}
h1, h2, a, p, li{
  color: white;
  font-family: Arial;
}

input{
  height: 30px

}

.risk {
  text-align: justify;
  list-style-position: inside;
  margin-right: 200px;
  margin-left: 950px;
  margin-bottom: 400px;
  margin-top: 0px;
  position: fixed;
}

.factors{
    margin-top: -50px;
    position: fixed;
    margin-bottom: 200px;
    margin-right:200px;
    margin-left:1050px;
  }

.symptoms{
  margin-right: 450px;

}

.text{
  margin-top:-20px;
  margin-bottom: -10px;
  margin-left:980px;
  margin-right:200px;
  position:fixed;
}
